---
import About from "../components/About.svelte";
import Awards from "../components/Awards.svelte";
import Education from "../components/Education.svelte";
import Experience from "../components/Experience.svelte";
import Footer from "../components/Footer.svelte";
import Intro from "../components/Intro.svelte";
import Projects from "../components/Projects.svelte";
import Stack from "../components/Stack.svelte";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		  <!-- Font Awesome icons (free version)-->
		  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<title>Astro</title>
		<style>

		
			/* ===== Scrollbar CSS ===== */
			/* Firefox */
			* {
			  scrollbar-width: auto;
			  scrollbar-color: #ffffff #1E1E1E;
			}
		
			/* Chrome, Edge, and Safari */
			*::-webkit-scrollbar {
			  width: 4px;
			}
		
			*::-webkit-scrollbar-track {
			  background: #1E1E1E;
			}
		
			*::-webkit-scrollbar-thumb {
			  background-color: #ffffff;
			  border-radius: 10px;
			  border: 3px solid #ffffff;
			}
		  </style>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		  	
		<!-- ibm fonts -->
		<link
		  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
		  rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
		  rel="stylesheet">
		  	
		<!-- syne fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Syne:wght@400..800&display=swap" rel="stylesheet">
	</head>
	<body class="bg-zinc-900">
		<Intro />
		<About />
		<Stack />
		<Experience />
		<Education />
		<Projects />
		<Awards />
		<Footer/>
	</body>


</html>
