---
import '../../styles/global.css';
---

<meta charset="utf-8" />
<link rel="icon" type="image/gif" href="https://c.tenor.com/oZU8_qYQ-oEAAAAC/iwakura-lain.gif" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>ｈｅｌｌｏ ！</title>
<meta name="description" content="Jeo | Software Developer & Graphic Designer" />

<meta property="og:url" content="https://jeoooo.github.io/portfolio" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Hi! I'm Jeo 💻📱👩‍💻" />
<meta property="og:description" content="Software Developer | Graphic Designer" />
<meta property="og:image" content="https://i.imgur.com/zpipPLf.png" />

<!-- Font Awesome icons -->
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<!-- Google Fonts: IBM Plex Sans + IBM Plex Mono + Syne -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Syne:wght@400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<!-- tsparticles is lazy-loaded by Navbar.astro when the user enables the Particles toggle -->
